.hero-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-avatar {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;

  /* 将照片内容稍微向右移动 */
  object-position: 30% center;
}

.hero-contact {
  margin-top: 18px;
  text-align: center;
  line-height: 1.9;
  font-size: 14px;
  color: var(--vp-c-text-2);
}

/* 浅色模式：首页整体背景 */
.VPContent.is-home {
  min-height: 100vh;

  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.00),
      rgba(255, 255, 255, 0.00)
    ),
    url('/images/home-bg.webp');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 深色模式取消背景图 */
.dark .VPContent.is-home {
  background: var(--vp-c-bg);
}